@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <select name="drugs" id="drugs">
    @foreach (var item in Model)
   {
  <option value="@item.Name">@item.Name</option>
   }
 
</select>

</div>
