@{
    ViewData["Title"] = "Home Page";
}
<div>
    <h1>Anti Psychotic Max Dose Ready Reckoner</h1>
    <p>
        Simply add each drug line from the list below. Once ready,
        you can then process the list you've created and see what % the patient is currently utilising regarding the max doses.
        This information is taken from <b>POMH-UK Antipsychotic Dosage Ready Reckoner - version 9.1 July 2021. </b>
    </p>
</div>
<div class="text-center">
    <form>
        <label>
            Select drug:
            <select required="required" name="drugs" id="drug">
                @foreach (var item in Model)
                {
                    <option value="@item.Name">@item.Name @item.Route @item.Frequency</option>
                }
            </select>
        </label>
        <label>Enter patient's dose:</label>
        <input required="required" type="number" min=1 id="dose" placeholder="100" />
        <button class="btn-primary" id="AddToList" type="submit">Add drug for checking</button>
        <button class="btn-secondary" type="reset" id="Reset">Reset page</button>
    </form>
</div>
<div id="resultsArea">
    <div><p id="rDataErrors" class="text-warning"></p></div>
    <table id="rData">
    </table>
    <h2 class="card text-lg-center mt-5">Max Dosage Utilisation: <span id="percentage"></span>0%</h2>
</div>
<div class="text-center">
    <hr />
    <br />
    <p>+ Maintenance dose licensed to be given monthly    </p>
    <p>++ Formulation licensed to be given every 3 months </p>
    <p>
        +++ A maximum of 150mg in any 48-hour perioud and a maximum
        cumulative dose of 200mg in any two week period.
    </p>
    <hr />

</div>
